{% extends 'base.html' %}

{% block title %} User Profile - {{ userprofile.user.username }} {% endblock %}

{% block content %}
  <div class="container">
    {% if user == userprofile.user %}
      <div class="m-2">
        <a class="btn btn-primary" href="{% url 'user_profile_edit' userprofile.id %}">Edit profile</a>
        <a class="btn btn-primary" href="{% url 'user_profile_relations' userprofile.user.id %}">See your relations</a>
      </div>
    {% endif %}

    {% if user != userprofile.user %}
      {% if user in userprofile.friend_requests.all %}
        <a class="btn btn-secondary" href="{% url 'accept_friend_request' userprofile.user.id %}">Accept friend request</a>
        <a class="btn btn-secondary" href="{% url 'reject_friend_request' userprofile.user.id %}">Reject friend request</a>
      {% else %}
        {% if user not in userprofile.friends.all %}
          {% if userprofile.user not in user.profile.first.friend_requests.all %}
            <a class="btn btn-secondary" href="{% url 'send_friend_request' userprofile.user.id %}">Send friend request</a>
          {% else %}
            <a class="btn btn-secondary" href="{% url 'cancel_friend_request' userprofile.user.id %}">Cancel friend request</a>
          {% endif %}
        {% else %}
          <a class="btn btn-secondary" href="{% url 'unfriend' userprofile.user.id %}">Unfriend</a>
        {% endif %}
      {% endif %}
    {% endif %}

    <h1>{{ userprofile.user.username }}' Profile</h1>
    {% if user in userprofile.friends.all or user == userprofile.user %}
    <ul class="list-group m-4">
      {% if userprofile.avatar %}
      <p><b>Avatar:</b></p><img style="margin-bottom:20px;" src="{{ userprofile.avatar.url }}" width="200px">
      {% endif %}
      <li class="list-group-item"><b>Fullname:</b> {{ userprofile.user.first_name }} {{ userprofile.user.last_name }}</li>
      <li class="list-group-item"><b>Username:</b> {{ userprofile.user.username }}</li>
      <li class="list-group-item"><b>E-mail:</b> {{ userprofile.user.email }}</li>
      <li class="list-group-item"><b>Birthday:</b> {{ userprofile.birthday }}</li>
      <li class="list-group-item"><b>Country:</b> {{ userprofile.country.name }}</li>
    </ul>
    {% endif %}
  </div>
{% endblock %}
